


* {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
}

.loading-div{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;;
    z-index: 2;
    overflow: hidden;
    background-color: rgb(0, 20, 37);
}



.loading-visible{
    visibility: visible;
}

.loading-hidden {
    visibility: hidden;
}

pre{
    font-size: 120%;
    text-overflow: clip;
    max-width: calc(100vw - 2rem);
    white-space: normal;;
}

.game{
    padding: 2rem;
    background-color: rgb(0, 20, 37);
    width:calc(100vw - 4rem);
    height: calc(90vh - 2rem);
    padding-bottom: 10vh;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.choices{
    padding: 1rem;
}

.title-div{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;;
    z-index: 2;
    overflow: hidden;
    background-color: transparent;
}